<div class="container main-container ">
    <div class="row">
        <div class="col col-sm-6 col-md-4 col-lg-4 mb-3">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Ver Series</h5>
                    <img src="./../../../assets/menu/movies.jpg" class="mb-2 col">
                    <p class="card-text">Explore series de television, anime, entre otras...</p>
                    <a [routerLink]="['/series']" class="btn btn-outline-dark">Ir a la seccion de series</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-6 col-md-4 col-lg-4 mb-3">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Ver Peliculas</h5>
                    <img src="./../../../assets/menu/series.jpg" class="mb-2 col">
                    <p class="card-text">Explore peliculas de todos los generos, entre otras...</p>
                    <a [routerLink]="['/movies']" class="btn btn-outline-dark">Ir a la seccion de peliculas</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-4 col-lg-4 mb-3">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Ver Actores</h5>
                    <img src="./../../../assets/menu/actors.jpg" class="mb-2 col">
                    <p class="card-text">Explore y busque a los actores de peliculas y series</p>
                    <a [routerLink]="['/actores']" class="btn btn-outline-dark">Ir a la biblioteca de actores</a>
                </div>
            </div>
        </div>
    </div>
</div>